<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="ec.edu.uce.optativa3.controlador.activity_form"></activity>
        <activity android:name="ec.edu.uce.optativa3.controlador.item_list_data" />
        <activity android:name="ec.edu.uce.optativa3.controlador.guardarActivity" />
        <activity android:name="ec.edu.uce.optativa3.controlador.Inicio" />
        <activity android:name="ec.edu.uce.optativa3.controlador.Mostrar" />
        <activity android:name="ec.edu.uce.optativa3.controlador.Registrar" />
        <activity android:name="ec.edu.uce.optativa3.controlador.RegistroUsuario" />
        <activity android:name="ec.edu.uce.optativa3.controlador.mostrarLog" />
        <activity android:name="ec.edu.uce.optativa3.controlador.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="ec.edu.uce.optativa3.controlador.ServicioLog"
            android:enabled="true"></service>
    </application>

</manifest>